{{errorMessage}}
{{#each body}}
	<div style="margin-top: 50px;">
        <div class="row">
            <div class="card hoverable">
                <div class="card-content">
                    
		<span class="card-title">{{this.dba}}</span>
        <div class="divider"></div>
		<ul style="list-style-type:none;">
			{{#each this}}
			<li><strong>{{@key}}:</strong> {{this}}</li>
			{{/each}}
	    <!--	<li>{{@key}} {{this.cuisine_description}}</li>
    		<li>{{this.record_date}}</li>
    		<li>{{this.boro}}</li>
    		<li>{{this.inspection_date}}</li>
    		<li>{{this.building}}</li>
    		<li>{{this.zipcode}}</li>
    		<li>{{this.score}}</li>
    		<li>{{this.phone}}</li>
    		<li>{{this.street}}</li>
    		<li>{{this.grade}}</li>
    		<li>{{this.critical_flag}}</li>
    		<li>{{this.camis}}</li>
    		<li>{{this.action}}</li>
    		<li>{{this.violation_code}}</li>
    		<li>{{this.violation_description}}</li>
    		<li>{{this.grade_date}}</li>
    		<li>{{this.inspection_type}}</li> -->
		</ul>
                </div>
            </div>
        </div>        
	</div>
{{/each}}