{{errorMessage}}

<ul class="pagination">
	<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>

<div class="row">
    <p>{{numberResults}}</p>
</div>

{{#each body}}
	<div style="margin-top: 50px;">
        <div class="row">
            <div class="card hoverable">
                <div class="card-content">
                    
		<span class="card-title">{{this.dba}}</span>
        <div class="divider"></div>
		<ul style="list-style-type:none;">
<!-- 			{{#each this}}
			<li><strong>{{@key}}:</strong> {{this}}</li>
			{{/each}} -->
	    	<li><span style="font-weight: bold;">Cuisine: </span>{{this.cuisine_description}}</li>
<!--     		<li><span style="font-weight: bold;">Record Date: </span>{{this.record_date}}</li> -->
            <li><span style="font-weight: bold;">Inspection Date: </span>{{this.inspection_date}}</li>
            <li><span style="font-weight: bold;">Address: </span>{{this.building}} {{this.street}}, {{this.boro}} {{this.zipcode}}</li>
    		<li><span style="font-weight: bold;">Phone: </span>{{this.phone}}</li>
            <li><span style="font-weight: bold;">Score: </span>{{this.score}}</li>
    		<li><span style="font-weight: bold;">Grade: </span>{{this.grade}}</li>
    		<li><span style="font-weight: bold;">Critical Flag: </span>{{this.critical_flag}}</li>
    		<!-- <li><span style="font-weight: bold;">: </span>{{this.camis}}</li> -->
    		<li><span style="font-weight: bold;">Action: </span>{{this.action}}</li>
    		<li><span style="font-weight: bold;">Violation Code: </span>{{this.violation_code}}</li>
    		<li><span style="font-weight: bold;">Violation Description: </span>{{this.violation_description}}</li>
    		<li><span style="font-weight: bold;">Grade Date: </span>{{this.grade_date}}</li>
    		<li><span style="font-weight: bold;">Inspection Type: </span>{{this.inspection_type}}</li> 
		</ul>
                </div>
            </div>
        </div>        
	</div>
{{/each}}