<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NYC Food Safety</title>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/public/assets/css/main.css">
		<!--Import Google Icon Font-->    
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>         
    </head>
    <body>
    	{{> header}}
    	<main class="blue-grey lighten-5" style="padding: 35px;">
	    	<div class="container" style="text-align: center; margin-bottom: 50px;">
			    <h3 style="font-weight: bold;">{{pageTitle}}</h3>
	    	</div>    	
	    	<div class="container">
		    	{{> searchResults}}

				{{#if pagination}}
				<div class="pagination pagination-centered">
					<ul>
						{{#paginate pagination type="first"}}
						<li {{#if disabled}}class="disabled" {{else}}class="waves-effect" {{/if}}>
							<a href="?page={{n}}">First</a>
						</li>
						{{/paginate}} {{#paginate pagination type="previous"}}
						<li {{#if disabled}}class="disabled" {{else}}class="waves-effect" {{/if}}>
							<a href="?page={{n}}">Prev</a>
						</li>
						{{/paginate}} {{#paginate pagination type="middle" limit="7"}}
						<li {{#if active}}class="active" {{else}}class="waves-effect" {{/if}}>
							<a href="?page={{n}}">{{n}}</a>
						</li>
						{{/paginate}} {{#paginate pagination type="next"}}
						<li {{#if disabled}}class="disabled" {{else}}class="waves-effect" {{/if}}>
							<a href="?page={{n}}">Next</a>
						</li>
						{{/paginate}} {{#paginate pagination type="last"}}
						<li {{#if disabled}}class="disabled" {{else}}class="waves-effect" {{/if}}>
							<a href="?page={{n}}">Last</a>
						</li>
						{{/paginate}}
					</ul>
				</div>{{/if}}
	    	</div>
    	</main>
    	{{> footer}}
    </body>

	<!-- Compiled and minified JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script>
		 $(document).ready(function() {
		    $('select').material_select();
		    $(".button-collapse").sideNav();
		  }); 	
    </script>    
</html>